input {
  font-size: 1.2rem;
  outline: none;
}

.values {
  font-size: 1rem;
  display: inline-block;
  outline: none;
  cursor: pointer;
  background: #edeaea;
  padding: 0.5rem 0;

  color: #222;
  border: none;
}

.container {
  height: 100vh;
  transition: all 0.5s ease-in-out;
}

.dark-mode {
  background: #222;
  color: white;
}

.dark-mode-btn {
  background: #f4f4f4;
  color: #222;
}
